<h3><%= l("label_my_projects") %></h3>
<% User.current.visible_project_ids.each do |ids|
  project = Project.where(:id => ids)[0] %>
 <div class="list-projects">
 <%= link_to(project.name, project_path(project), :class => "myprojects").html_safe %>
 <%= link_to l("label_issue_new"), 
            _new_project_issue_path(project), 
            :class => 'icon icon-add new-issue'  if User.current.allowed_to?(:add_issues, project, :global => true) %>
 <%= link_to l(:button_log_time),
            new_project_time_entry_path(project),
            :class => 'icon icon-time-add new-time' if User.current.allowed_to?(:log_time, project, :global => true) %>
 <%= link_to l("project_module_wiki"),
            project_wiki_page_path(project, 'wiki'),
            :class => 'icon icon-edit new-wiki' if User.current.allowed_to?(:view_wiki_pages, project, :global => true) %>
 </div>
<% end %>