<h3><%= link_to query.name, _project_issues_path(query.project, query.as_params) %></h3>
<canvas id="<%= id %>" class="line"></canvas>
<script src="/plugin_assets/redmine_indicator/javascripts/Chart.min.js"></script>
<script>
window.chartColors = {
    red: '#f44336',
    blue: '#2196f3',
    green: '#4caf50',
    yellow: '#ffeb3b',
    orange: '#ff9800',
    grey: '#9e9e9e',
    deepPurple: '#673ab7',
    lightBlue: '#03a9f4',
    deepOrange: '#ff5722',
    blueGrey: '#607d8b',
    pink: '#e91e63',
    indigo: '#3f51b5',
    cyan: '#00bcd4',
    lightGreen: '#8bc34a',
    amber: '#ffc107',
    brown: '#795548',
    purple: '#9c27b0',
    teel: '#009688',
    lime: '#cddc39'
};
var colorNames = Object.keys(window.chartColors);
var ctx = document.getElementById('<%= id %>').getContext('2d');
config = {
    datasets: [],
    labels: []
};
options = {
    responsive: true,
	legend: {
		position: 'right',
    },
    scales: {
        yAxes: [{
            ticks: {
                beginAtZero: true,
            }
        }]
    }
};
var labels = <%=  raw labels %>
var datas = <%= datas %>
var titles = <%= raw titles %>
for (var indexd = 0; indexd < datas.length; ++indexd) {
    data = datas[indexd]
    var colorName = colorNames[indexd % colorNames.length];
    var newColor = window.chartColors[colorName];
    config.datasets.push({
        data: [],
        backgroundColor: newColor,
        borderColor: newColor,
        fill: false
    })
    for (var index = 0; index < labels.length; ++index) {
        config.datasets[indexd].data.push(data[index]);
        config.datasets[indexd].label = titles[indexd]
    }
}
for (var index = 0; index < labels.length; ++index) {
    config.labels.push(labels[index])
}
var lineChart = new Chart(ctx, {
    type: 'line',
    data: config,
    options: options
});
</script>