<table class="indicator synthese">
  <tr>
    <td><div class="circle due"><h1><%= issuesdue.length %></h1></div></td>
    <td><div class="circle today"><h1><%= issuestoday.length %></h1></div></td>
    <td><div class="circle next"><h1><%= issuesnext.length %></h1></div></td>
  </tr>
  <tr>
    <td><%= l(:issues_due) %></td>
    <td><%= l(:issues_today) %></td>
    <td><%= l(:issues_next) %></td>
  </tr>
</table>